<script id="application-template" type="text/x-handlebars-template">
  <link rel="stylesheet" type="text/css" href="./assets/views/application.css" />
  
  <div id="main">
    <div class="header">
      <h1>translationCore</h1>
    </div>
    <!-- placeholder for menu template to render -->
    <div id="menu-placeholder"></div>
    <!-- include menu controller -->
    <script src="./assets/controllers/menu-controller.js"/>

    <!-- placeholder for menu template to render -->
    <div id="check-placeholder" class="content"></div>
    <link rel="stylesheet" href="./assets/views/check.css">
  </div>

</script>