<script id="application-template" type="text/x-handlebars-template">
  <!-- placeholder for menu template to render -->
  <div id="menu-placeholder"></div>
  <!-- include menu controller -->
  <script src="./assets/controllers/menu-controller.js"></script>

  <!-- placeholder for menu template to render -->
  <div id="checking-placeholder"></div>
  <!-- include menu controller -->
  <script src="./assets/controllers/check-controller.js"></script>  

  <link rel="stylesheet" type="text/css" href="./assets/views/application.css" />
</script>