<script id="check-template" type="text/x-handlebars-template">
  <div class="togglebox">

    <input id="toggle1" type="checkbox" name="toggle" />
    <label for="toggle1">translationAcademy - {{source.type.name}}</label>
    
    <section id="content1">
      <div id="taLink"></div>
    </section>

    <input id="toggle3" type="checkbox" name="toggle" checked />
    <label for="toggle3">Checking - {{source.type.name}} - {{source.reference.book}} {{source.reference.chapter}}:{{source.reference.verse}}</label>

    <section id="content3">

      <form class="pure-form">
        <fieldset>

          <legend>translationNotes from ULB - English:</legend>
          <blockquote>{{{source.notes}}}</blockquote>

          <legend>
            <span id="buttonCopy" class="pure-button" style="float:right;" onclick="checkModel.selectQuote();">Highlight Selection</span>
            1. What is the translation of the quoted figure?
          </legend>

          <table class="pure-table" id="verses">
            <thead>
              <tr>
                <th>Greek New Testament</th>
              {{#each verses}}
                <th>{{ this.name }}</th>
              {{/each}}
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div id="gnt-explorer" class="pure-menu pure-menu-horizontal">
                    <ul class="pure-menu-list">
                    {{#each gnt}}
                      <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                          <a href="#" id="menuLink1" class="pure-menu-link">{{greek}}</a>
                          <ul class="pure-menu-children popup">
                              <li class="pure-menu-item">Morphology: {{morphology}}</li>
                              <li class="pure-menu-item">Strongs: {{strongs}}</li>
                              <li class="pure-menu-item">Brief: {{brief}}</li>
                              <li class="pure-menu-item">Definition: {{long}}</li>
                          </ul>
                      </li>
                    {{/each}}
                    </ul>
                  </div>
                </td>
              {{#each verses}}
                <td id="verse-{{@index}}">{{{ this.text }}}</td>
              {{/each}}
              </tr>
            </tbody>
          </table>

          <legend>2. Was the figure retained, replaced, or need to be flagged for review?</legend>
          <label for="option-retained" class="pure-radio">
            <input id="option-retained" type="radio" name="optionStatus" value="retained" onclick="checkModel.onSelectRetained();" {{#retained}}checked{{/retained}}>
            Figure retained in translation
          </label>
          <label for="option-replaced" class="pure-radio">
            <input id="option-replaced" type="radio" name="optionStatus" value="replaced" onclick="checkModel.onSelectRetained();" {{#replaced}}checked{{/replaced}}>
            Figure replaced in translation
          </label>
          <label for="option-flagged" class="pure-radio">
            <input id="option-flagged" type="radio" name="optionStatus" value="flagged" onclick="checkModel.onSelectRetained();" {{#flagged}}checked{{/flagged}}>
            Flag for further review
          </label>

        </fieldset>
      </form>
        {{#if showPrev}}
        <button onclick="checkModel.goToPrev();" class="pure-button pure-button-primary" id="previous">Prev</button>
        {{/if}}{{#if showNext}}
        <button onclick="checkModel.goToNext();" 
         class="pure-button pure-button-primary" id="next">Next</button>
        {{/if}}

    </section>
  </div>
</script>
